* {
  margin: 0;
  padding: 0;
}
/*
* {
 outline: 1px solid limegreen !important; 
}*/

body {
  background: black;
  /*overflow-x: hidden;*/
}
/*Slider*/
.slider {
  display: grid;
  width: 100%;
  margin: auto;
  overflow: hidden;
  align-items: center;
  height: auto;
}
.logo {
  position: absolute;
  width: 100%;
  margin-top: 100px;
  align-content: center;
}
.slider ul {
  padding: 0;
  display: flex;
  width: 400%;
  animation: cambio 20s infinite alternate;
  animation-timing-function: ease-out;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/* NAV */
nav {
  height: 6rem;
  width: 100%;
  background-color: #131418;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: absolute;
  z-index: 10;
  color: white;
}

/*Styling logo*/
.logoNav {
  padding: 1vh 1vw;
  text-align: center;
}
.logoNav img {
  height: 5rem;
  width: 20rem;
}
/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  font-family: "Cormorant SC", serif;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  color: white;
}
.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.nav-links li a:hover {
  color: #ebbf31;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: rgb(206, 158, 1);
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
  color: #c7940a;
}
.nav-links li a:hover::before {
  width: 80%;
}

/*Styling Buttons*/
.login-button {
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;
  color: white;
}
.login-button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
.join-button {
  color: #ffffff;
  background-color: #c7940a;
  border: 1.5px solid #000000;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.join-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid #ffffff;
  transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}
/*Animation Hamburger Icon*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
h2 {
  color: #f0c050;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-size: 45px;
  font-family: "Harry Potter", sans-serif;
}
p {
  color: aliceblue;
  display: flex;
  justify-content: center;
  font-size: 25px;
}
/*character*/
.character {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/*VENTANA MODAL*/
#openModalGryffindor,
#openModalSlytherin,
#openModalHufflepuff,
#openModalRavenclaw {
  background: none;
  /*border: none;*/
}
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  cursor: pointer;
}
.info {
  width: 1000px;
  height: 500px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 0;
  border: 2px solid white;
}
.info {
  background-image: url(./image/fondoVentana.webp);
  background-size: cover;
}
.show {
  pointer-events: auto;
  opacity: 1;
}
#close {
  width: 100%;
  text-align: end;
  font-size: 40px;
  font-weight: bold;
  background: none;
  border: none;
}

/* HOUSES */
p {
  font-family: "Mouse Memoirs", sans-serif;
  color: #040404;
  font-size: 35px;
}
.ulFade{
  background-color: #c7c7c741;
  border-radius: 4px;
}
h1 {
  color: rgb(38, 47, 143);
  font-family: "Harry Potter", sans-serif;
  font-size: 50px;
}
.container-houses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: black;
}
.container-houses img {
  cursor: pointer;
}
.caja {
  padding: 10px;
  transition: all 0.25s;
}
.caja:hover {
  transform: translateY(-15px);
}
.caja img {
  border-radius: 50px;
}
hr {
  margin: 25px;
}
/*BOTONES PARA FILTRAR*/
.submit,
#selectgenders,
#selectSort {
  background-color: white;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  color: black;
  padding: 10px;
  margin: 10px;
  margin-top: 50px;
  border-radius: 20px;
  cursor: pointer;
}
.submit:hover {
  box-shadow: 0 12px 16px 0 rgba(212, 248, 10, 0.774),
    0 17px 50px 0 rgba(255, 255, 255, 0.2);
}
/*FILTROS POR CASA*/
#filterContent {
  display: flex;
  flex-wrap: wrap;
}
.box {
  display: grid;
  align-content: space-between;
  justify-items: center;
  border: solid #c7940a;
  border-radius: 30px;
  margin: 15px;
  margin-top: 25px;
  padding: 20px;
  background-image: url(./image/fondoCards2.jpg);
  background-size: cover;
  font-size: 25px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}
.box:hover {
  background-color: #c7c7c7;
  color: black;
}
.characterBox{
  background-color: #c7c7c7b7;
  border-radius: 5px;
  padding: 2px;
}
.box h5 {
  font-size: 30px;
  font-weight: lighter;
  color: #fffdf5;
  padding: 4px;
}
.box li {
  list-style: none;
  font-size: 90%;
  color:#000000;
}
.img-houses {
  width: 30%;
}
.Gryffindor {
  content: url(./image/Griffyndor.png);
  width: 40%;
}
.Slytherin {
  content: url(./image/Slytherin.png);
  width: 40%;
}
.Hufflepuff {
  content: url(./image/Hufflepuff.png);
  width: 40%;
}
.Ravenclaw {
  content: url(./image/Ravenclaw.png);
  width: 40%;
}
.null {
  content: url();
  width: 40%;
  background: none;
}
/* cajita personajes */
h3 {
  margin-top: 25px;
  color: #f0c050;
  display: flex;
  justify-content: center;
  font-family: "Harry Potter", sans-serif;
}
.page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product-container {
  margin: 15px;
  padding: 2px 16px;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
}
.product-container img {
  border-radius: 15px;
}
.product-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(241, 81, 95, 0.194);
}
.product-container img {
  width: 300px;
}
/* FOOTER */
footer {
  background-color: #202020;
  color: white;
  width: 100%;
  font-family: sans-serif;
  bottom: 0;
}
.footerAll {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  font-family: sans-serif;
}
.containerFooter {
  display: flex;
  justify-content: space-between;
}
.textFooter {
  max-width: 400px;
}
.textFooter h3 {
  color: white;
  font-family: sans-serif;
  justify-content: start;
  font-size: 21px;
}
.textFooter p {
  font-size: 18px;
  color: #c7c7c7;
  margin-top: 20px;
  font-family: sans-serif;
}
.footer2 {
  max-width: 400px;
}
.footer2 h3 {
  font-size: 21px;
  color: white;
  font-family: sans-serif;
  justify-content: start;
}
.row {
  margin-top: 10px;
  display: flex;
}
.row img {
  width: 36px;
  height: 36px;
}
.row label {
  margin-top: 10px;
  margin-left: 10px;
  color: #c7c7c7;
}
.footerAuthors {
  width: 100%;
  background-color: #101010;
}
.footerC {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}
.Author {
  color: #c7c7c7;
}
.lab {
  color: #c7c7c7;
}
.lab a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.subscribe {
  width: 400px;
}
.subscribe h3 {
  color: white;
  font-family: sans-serif;
  font-size: 21px;
  justify-content: start;
}
.subscribe2 button {
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  margin-top: 10px;
}
.subscribe2 input {
  width: 55%;
  margin-top: 10px;
  padding: 10px;
}
.subscribe2 button {
  background-color: #c7940a;
  color: #ffffff;
}
@media screen and (max-width: 1100px) {
  .containerFooter {
    flex-wrap: wrap;
  }
  .footer2,
  .footerAuthors,
  .subscribe {
    margin-top: 20px;
  
  }
}
/*Media para pantallas pequeñas*/
@media screen and (max-width: 800px) {
  h2 { 
    font-size: 30px;
  }
  .logoNav {
    visibility: hidden;
  }
  nav {
    position: fixed;
    z-index: 3;
    height: 10%; /*nav 10%*/
    background: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: black;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -30%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
  .character {
    display: flex;
  }
  .submit,
#selectgenders,
#selectSort {
  font: 0/0 a;
  text-shadow: transparent;
  color: transparent;
  text-decoration: none;
  width: 10px;
}
#submitGryffindor:hover {
  background-color: #6a0000;
}
#submitSlytherin:hover {
  background-color: green;
}
#submitHufflepuff:hover{
  background-color: #ebbf31;
}
#submitRavenclaw:hover{
  background-color: blue;
}
button#openModalGryffindor,
#openModalSlytherin,
#openModalHufflepuff,
#openModalRavenclaw{
  border:none;
  
}
   


}

