* {
    margin: 0;
    padding: 0;
}
/* VIDEO */
.full-screen{
    width: 100%;
    height: 70%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.full-screen video{
    display: flex;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
/* NAV */
.navegation {
    display: flex;
    justify-content: center;
}
.nav-menu-link {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Cormorant SC', serif;
    font-weight: bold;
}
.nav-menu-link:hover{
    color: #f0c050;
}
.nav-menu-item {
    margin: 0 200px;
    line-height: 80px;
    text-transform: uppercase;
}
/* HOUSES */
.container-houses{
    display: flex;
    justify-content: center;
}
    
.container
/* FOOTER */
footer {
    position: absolute;
}