* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(84,26,26);
    background: linear-gradient(0deg, rgba(84,26,26,1) 0%, rgba(0,0,0,1) 30%);
}

/* VIDEO */
.full-screen{
    width: 100%;
    height: 70%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.full-screen video{
    display: flex;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
/* NAV */
.navegation {
    display: flex;
    justify-content: center;
}
.nav-menu-link {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Cormorant SC', serif;
    font-weight: bold;
}
.nav-menu-link:hover{
    color: #f0c050;
}
.nav-menu-item {
    margin: 0 200px;
    line-height: 80px;
    text-transform: uppercase;
}


/* HOUSES */

h1 {
    color: aliceblue;
    font-family: 'Cormorant SC', serif;
    font-size: 50px;
}
.container-houses{
    display: flex;
    justify-content: center;
    margin-top: 700px;

}
.caja {
    padding: 40px;
}
.container
/* FOOTER */
footer {
    position: absolute;

}