* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(84,26,26);
    background: linear-gradient(0deg, rgba(84,26,26,1) 0%, rgba(0,0,0,1) 30%);
    overflow-x: hidden;
}
/* VIDEO */
.full-screen{
    width: 100%;
    height: 70%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.full-screen video{   
    position: absolute;
    left: 0%;
    top: 0%;
    object-fit: cover;
    z-index: -1;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    overflow: hidden;
}
/*arreglo parcial*/
img{
    width: 100%;   
}
/* NAV */
.navegation {
    display: flex;
    justify-content: center;
}
.nav-menu-link {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Cormorant SC', serif;
    font-weight: bold;
}
.nav-menu-link:hover{
    color: #f0c050;
}
/*Cambio en el margin para que encaje en pantalla pequeña*/
.nav-menu-item {
    margin: 0 100px;
    line-height: 80px;
    text-transform: uppercase;
}

/* PRUEBA VENTANA MODAL */
#openGriffyndor, 
#openSlytherin,
#openHufflepuff,
#openRavenclaw {
    background: none;
    border: none;
}
.modal-containerG,
.modal-containerS,
.modal-containerH,
.modal-containerR {
    display: flex;
    background-color: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.show {
    pointer-events: auto;
    opacity: 1;
}
.infoGriffyndor,
.infoSlytherin,
.infoHufflepuff,
.infoRavenclaw {
    width: 1000px;
    height: 1500px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
}

.infoGriffyndor {
    background-color: #6A0000;
}

.infoSlytherin {
    background-color: #001F07;
}
.infoHufflepuff {
    background-color: #B78F00;
}
.infoRavenclaw {
    background-color: #100029;
}
#close,
#closeS,
#closeH,
#closeR {
    width: 100%;
    text-align: end;
    font-size: 40px;
    font-weight: bold;
    background: none;
    border: none;
}

/* HOUSES */

h1 {
    color: aliceblue;
    font-family: 'Cormorant SC', serif;
    font-size: 50px;
}
.container-houses{
    display: flex;
    justify-content: center;
    margin-top: 700px;

}
.caja {
    padding: 40px;
    transition: all 0.25s;
}
.caja:hover{
    transform: translateY(-15px);
}
.container
/* FOOTER */
footer {
    position: absolute;

}